.section {
    background-color: white;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}

@media (max-width: 768px) {
    .section__header {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.section__body {
    padding: 20px;
}